
  <h1><%= t('posts.title') %></h1>

  <div class="jumbotron" id="posts">
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <% if post.image.attached? %>
        <%= link_to(post_path(post)) do %>
          <%= image_tag(post.image, class: "image") %>
        <% end %>
      <% end %>
      
      <p><%= t('posts.at', datetime: post.created_at.strftime('%b %d, %Y')) %></p><hr hfont-weight="bold" >
      
    <% end %>
  </div> 



